configs/schemas/loc_rooms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="rooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="room" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="id"   type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/> <!-- e.g. "cpu","mem","inf","custom" -->
            <xs:attribute name="state" type="xs:string" use="optional" default="stopped"/> <!-- "started"|"stopped" -->
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
